body {
  padding:0px;
  margin:0px;
  font-family:'Open Sans';
  background: #fffdc6;
}

p a, #game a, p a:visited, p a:visited {
  text-decoration: underline;
  color:black;
}

a, a:visited {
  color: white;
  text-decoration: none;
}

a:active{
  background:transparent
}

section#navbar a:hover {
  text-decoration:none;
}

header {
  height: 100px;
  background-color: white;
  background-image: url("../assets/burgerquizz.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10px;
}

section#responsive-navbar {
  display: none;
  margin-top:0px;
  color: white;
  background-color: #7e19ff;
  font-size: 25px;
}

section#responsive-navbar ul {
  margin-top:0px;
  list-style-type:none;
  padding-left:0px;
  width:100%;
  margin-bottom:0px;
}

section#responsive-navbar ul li {
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align:center;
  width:100%;
}

section#responsive-navbar ul li a {
  display:block;
  width:100%;
}

section#responsive-navbar ul li:last-child {
  background: #ff9619;
}

section#responsive-navbar ul li:last-child.current {
  background: #ffab19;
}

section#responsive-navbar ul li:last-child:hover {
  background: #ffab19;
}

section#responsive-navbar ul li:hover, section#responsive-navbar ul li.current {
  background: #9556f9;
}

section#responsive-navbar ul li:first-child, section#responsive-navbar ul li:first-child:hover, section#responsive-navbar ul li:first-child:active {
  background-color: #7e19ff;
  background-image: url('../assets/burger-menu.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px, 50%;
}

section#navbar {
  color: white;
  background-color: #7e19ff;
  height: 70px;
  font-size: 25px;
}

section#navbar ul {
  padding-top: 35px;
  display: inline;
  vertical-align: middle;
}

section#navbar li:first-child a {
  margin-left:20px;
}

section#navbar a {
  padding-top:17px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:18px;
  margin-right: 10px;
}

section#navbar li {
  display: block;
  float:left;
  padding-top:17px;
  height: 53px;
}

section#navbar li:hover a, section#navbar li.current a {
  background: #9556f9;
}

section#navbar li:last-child a {
  margin-right:0px;
  padding-right:70px;
  padding-left:70px;
}

section#navbar li:last-child {
  display: block;
  float: right;
  text-align:right;
  background: #ff9619;
}

section#navbar li:last-child:hover a, section#navbar li.current:last-child a {
  background: #ffab19;
}

section#page {
  width: 60%;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 400%;
}

h2 {
  text-align: center;
  font-size: 200%;
}

section#page p {
  text-indent: 30px;
}

.button a {
  display:block;
  background: #09b22b;
  color: white;
  border: none;
  height: 70px;
  width: 200px;
  margin:auto;
  margin-right:15px;
  margin-left:15px;
  text-align:center;
  float: left;
}

.firstword {
  font-size:200%;
}

article#jouer {
  margin:auto;
}

section#page ol {
  text-align:center;
  font-size: 120%;
}

@media all and (max-width: 799px) {
  header {
    background-size: 68%;
  }
  section#responsive-navbar {
    display: block;
  }
  section#navbar {
    display: none;
  }
}

@media all and (min-width: 800px) {
  section#responsive-navbar {
    display: none;
  }
  section#navbar {
    display: block;
  }
}
